In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/finanzas_territorio.csv')

In [6]:
ingresos_ind = ['Ingresos tributarios', 
                'Ingresos no tributarios', 
                'Transferencias de los ingresos corrientes', 
                'Ingresos de capital']
gastos_ind = ['Funcionamiento', 
              'Intereses de deuda pública', 
              'Gastos de capital (Inversión)']

In [ ]:
df['tipo_item'] = ["Gastos" if i in gastos_ind else "Ingresos" for i in df['Indicador']]

,Código Departamento,Departamento,Código Entidad,Entidad,Indicador,Dato Numérico,Año,tipo_item
20430,81,Arauca,81000,Arauca,Ingresos tributarios,478393.81,2018,Ingresos
20431,81,Arauca,81001,Arauca,Ingresos tributarios,28602.55,2018,Ingresos
20432,81,Arauca,81065,Arauquita,Ingresos tributarios,6922.96,2018,Ingresos
20433,81,Arauca,81220,Cravo Norte,Ingresos tributarios,495.85,2018,Ingresos
20434,81,Arauca,81300,Fortul,Ingresos tributarios,1909.99,2018,Ingresos
...,...,...,...,...,...,...,...,...
178190,25,Cundinamarca,25612,Ricaurte,Gastos de capital (Inversión),NaN,2018,Gastos
178191,25,Cundinamarca,25645,San Antonio del Tequendama,Gastos de capital (Inversión),NaN,2018,Gastos
178192,25,Cundinamarca,25649,San Bernardo,Gastos de capital (Inversión),NaN,2018,Gastos
178193,25,Cundinamarca,25653,San Cayetano,Gastos de capital (Inversión),NaN,2018,Gastos
178194,25,Cundinamarca,25658,San Francisco,Gastos de capital (Inversión),NaN,2018,Gastos

In [22]:
df[(df['Año'] == 2018) & (df['tipo_item'] == 'Gastos')].groupby(['Entidad', 'Indicador'])['Dato Numérico'].sum().reset_index().query("Indicador == 'Gastos de capital (Inversión)'")

            Entidad                      Indicador  Dato Numérico
1         Abejorral  Gastos de capital (Inversión)            0.0
4          Abriaquí  Gastos de capital (Inversión)            0.0
7           Acacías  Gastos de capital (Inversión)            0.0
10           Acandí  Gastos de capital (Inversión)            0.0
13          Acevedo  Gastos de capital (Inversión)            0.0
...             ...                            ...            ...
3121        Zipacón  Gastos de capital (Inversión)            0.0
3124      Zipaquirá  Gastos de capital (Inversión)            0.0
3127  Zona Bananera  Gastos de capital (Inversión)            0.0
3130         Ábrego  Gastos de capital (Inversión)            0.0
3133          Útica  Gastos de capital (Inversión)            0.0

[1045 rows x 3 columns]

In [57]:
fill_gastos = pd.read_csv('datasets/fill_gastos.csv')

In [58]:
fill_gastos = fill_gastos.rename(columns={'prov': 'Gastos de capital (Inversión)'})

In [90]:
fill_gastos['Año'] = 2018

In [91]:
test

,Código Departamento,Departamento,Código Entidad,Entidad,Indicador,Dato Numérico,Año,tipo_item,Gastos de capital (Inversión)
0,97,Vaupés,97000,Vaupés,Gastos de capital (Inversión),NaN,2018,Gastos,16976.68
1,97,Vaupés,97666,Taraira,Gastos de capital (Inversión),NaN,2018,Gastos,9329.27
2,97,Vaupés,97001,Mitú,Gastos de capital (Inversión),NaN,2018,Gastos,39264.48
3,97,Vaupés,97161,Carurú,Gastos de capital (Inversión),NaN,2018,Gastos,11776.18
4,99,Vichada,99000,Vichada,Gastos de capital (Inversión),NaN,2018,Gastos,18539.54
...,...,...,...,...,...,...,...,...,...
1130,25,Cundinamarca,25612,Ricaurte,Gastos de capital (Inversión),NaN,2018,Gastos,29535.86
1131,25,Cundinamarca,25645,San Antonio del Tequendama,Gastos de capital (Inversión),NaN,2018,Gastos,12018.20
1132,25,Cundinamarca,25649,San Bernardo,Gastos de capital (Inversión),NaN,2018,Gastos,13394.79
1133,25,Cundinamarca,25653,San Cayetano,Gastos de capital (Inversión),NaN,2018,Gastos,9867.14
1134,25,Cundinamarca,25658,San Francisco,Gastos de capital (Inversión),NaN,2018,Gastos,12187.71

In [92]:
df.sort_values(['Código Departamento', 'Código Entidad']).loc[(df['Año'] == 2018) & (df['Indicador'] == 'Gastos de capital (Inversión)')]

,Código Departamento,Departamento,Código Entidad,Entidad,Indicador,Dato Numérico,Año,tipo_item
177662,1,Colombia,1001,Colombia,Gastos de capital (Inversión),NaN,2018,Gastos
177653,5,Antioquia,5000,Antioquia,Gastos de capital (Inversión),NaN,2018,Gastos
177654,5,Antioquia,5001,Medellín,Gastos de capital (Inversión),NaN,2018,Gastos
177655,5,Antioquia,5002,Abejorral,Gastos de capital (Inversión),NaN,2018,Gastos
177656,5,Antioquia,5004,Abriaquí,Gastos de capital (Inversión),NaN,2018,Gastos
...,...,...,...,...,...,...,...,...
177064,99,Vichada,99000,Vichada,Gastos de capital (Inversión),NaN,2018,Gastos
177065,99,Vichada,99001,Puerto Carreño,Gastos de capital (Inversión),NaN,2018,Gastos
177066,99,Vichada,99524,La Primavera,Gastos de capital (Inversión),NaN,2018,Gastos
177067,99,Vichada,99624,Santa Rosalía,Gastos de capital (Inversión),NaN,2018,Gastos
177068,99,Vichada,99773,Cumaribo,Gastos de capital (Inversión),NaN,2018,Gastos

In [93]:
df2 = df.merge(fill_gastos, how='left')

In [94]:
df2.loc[(df2['Año'] == 2018) & (df2['Indicador'] == 'Gastos de capital (Inversión)'), 'Dato Numérico'] = df2.loc[(df2['Año'] == 2018) & (df2['Indicador'] == 'Gastos de capital (Inversión)'), 'Dato Numérico'].fillna(df2['Gastos de capital (Inversión)'])

In [96]:
df2[df2['Dato Numérico'].isna()].groupby('Entidad').size().head(50)

Entidad
Achí                        1
Agua de Dios                1
Aguazul                     1
Albania                     2
Aldana                      1
Almaguer                    1
Almeida                     1
Alpujarra                   1
Alto Baudó                  1
Altos del Rosario           1
Amazonas                    1
Ansermanuevo                1
Anzoátegui                  1
Apía                        1
Arauca                      2
Arauquita                   1
Argelia                     1
Armero                      1
Arroyohondo                 1
Ayapel                      1
Bagadó                      1
Bahía Solano                1
Balboa                      1
Barbacoas                   1
Barrancas                   1
Barranco de Loba            7
Barrancominas             146
Beltrán                     1
Belén de Los Andaquíes      1
Berbeo                      1
Betéitiva                   1
Bituima                     1
Bojayá                      1
Bolívar                     2
Buenavista                  1
Cabrera                     2
Cachipay                    1
Cachirá                     1
Cajamarca                   1
Calamar                     2
Caldono                     1
California                  1
Campohermoso                1
Cantagallo                  1
Caparrapí                   1
Caquetá                     1
Carcasí                     1
Carmen de Carupa            1
Casabianca                  1
Casanare                    1
dtype: int64

In [97]:
df2.drop(columns='Gastos de capital (Inversión)', inplace=True)

In [100]:
ipc = pd.read_csv('datasets/ipc_completo.csv')

In [103]:
ipc['Índice_24'] = ipc['Índice'] * 100 / 145.3472

In [107]:
ipc.rename(columns={'year':'Año'}, inplace=True)

In [110]:
df2 = df2.merge(ipc[['Año', 'Índice_24']])

In [118]:
df2['Valor_24'] = df2['Dato Numérico'] / (df2['Índice_24'] / 100)

In [119]:
df2.to_csv('datasets/finanzas_territoriales.csv', index=False)

In [117]:
df2

,Código Departamento,Departamento,Código Entidad,Entidad,Indicador,Dato Numérico,Año,tipo_item,Índice_24,Valor_24
0,81,Arauca,81000,Arauca,Ingresos tributarios,383.44,2000,Ingresos,29.770095,1288.003937
1,81,Arauca,81001,Arauca,Ingresos tributarios,1643.90,2000,Ingresos,29.770095,5521.984333
2,81,Arauca,81065,Arauquita,Ingresos tributarios,192.47,2000,Ingresos,29.770095,646.521275
3,81,Arauca,81220,Cravo Norte,Ingresos tributarios,14.30,2000,Ingresos,29.770095,48.034781
4,81,Arauca,81300,Fortul,Ingresos tributarios,58.77,2000,Ingresos,29.770095,197.412871
...,...,...,...,...,...,...,...,...,...,...
182730,25,Cundinamarca,25426,Machetá,Gastos de capital (Inversión),15854.72,2022,Gastos,86.709617,18284.846138
182731,25,Cundinamarca,25407,Lenguazaque,Gastos de capital (Inversión),15429.26,2022,Gastos,86.709617,17794.173919
182732,25,Cundinamarca,25402,La Vega,Gastos de capital (Inversión),28369.15,2022,Gastos,86.709617,32717.420605
182733,25,Cundinamarca,25398,La Peña,Gastos de capital (Inversión),17654.02,2022,Gastos,86.709617,20359.933157
182734,25,Cundinamarca,25394,La Palma,Gastos de capital (Inversión),18640.20,2022,Gastos,86.709617,21497.269519

In [63]:
(fill_gastos.groupby(['Código Departamento']).size() - test.groupby('Código Departamento').size()).sum()

np.int64(0)

In [55]:
fill_gastos[fill_gastos['Departamento'] == 'Boyacá']

    Departamento         Entidad  Gastos de capital (Inversión)
208       Boyacá         Almeida                        2139.31
209       Boyacá       Aquitania                        9735.66
210       Boyacá        Arcabuco                        3017.02
211       Boyacá           Belén                        6377.49
212       Boyacá          Berbeo                        1808.71
..           ...             ...                            ...
326       Boyacá          Umbita                        4403.99
327       Boyacá    Ventaquemada                        5904.19
328       Boyacá  Villa de Leyva                        8458.43
329       Boyacá       Viracachá                        3345.44
330       Boyacá       Zetaquira                        3738.61

[123 rows x 3 columns]

In [56]:
test[test['Departamento'] == 'Nariño']

,Código Departamento,Departamento,Código Entidad,Entidad,Indicador,Dato Numérico,Año,tipo_item,Gastos de capital (Inversión)
291,52,Nariño,52000,Nariño,Gastos de capital (Inversión),NaN,2018,Gastos,16987.27
292,52,Nariño,52001,Pasto,Gastos de capital (Inversión),NaN,2018,Gastos,248886.50
293,52,Nariño,52019,Albán,Gastos de capital (Inversión),NaN,2018,Gastos,8034.48
294,52,Nariño,52022,Aldana,Gastos de capital (Inversión),NaN,2018,Gastos,4238.97
295,52,Nariño,52036,Ancuyá,Gastos de capital (Inversión),NaN,2018,Gastos,4805.77
...,...,...,...,...,...,...,...,...,...
351,52,Nariño,52786,Taminango,Gastos de capital (Inversión),NaN,2018,Gastos,7812.97
352,52,Nariño,52788,Tangua,Gastos de capital (Inversión),NaN,2018,Gastos,6126.47
353,52,Nariño,52835,San Andrés de Tumaco,Gastos de capital (Inversión),NaN,2018,Gastos,128516.72
354,52,Nariño,52838,Túquerres,Gastos de capital (Inversión),NaN,2018,Gastos,23210.38
355,52,Nariño,52885,Yacuanquer,Gastos de capital (Inversión),NaN,2018,Gastos,7263.25

In [40]:
test.sort_values(by='Entidad').iloc[:50]

,Código Departamento,Departamento,Código Entidad,Entidad,Indicador,Dato Numérico,Año,tipo_item,Gastos de capital (Inversión)
595,5,Antioquia,5002,Abejorral,Gastos de capital (Inversión),NaN,2018,Gastos,9715.23
596,5,Antioquia,5004,Abriaquí,Gastos de capital (Inversión),NaN,2018,Gastos,2307.02
905,50,Meta,50006,Acacías,Gastos de capital (Inversión),NaN,2018,Gastos,50443.07
999,27,Chocó,27006,Acandí,Gastos de capital (Inversión),NaN,2018,Gastos,10716.50
958,41,Huila,41006,Acevedo,Gastos de capital (Inversión),NaN,2018,Gastos,13686.49
431,13,Bolívar,13006,Achí,Gastos de capital (Inversión),NaN,2018,Gastos,11329.47
949,41,Huila,41013,Agrado,Gastos de capital (Inversión),NaN,2018,Gastos,4093.70
1055,25,Cundinamarca,25001,Agua de Dios,Gastos de capital (Inversión),NaN,2018,Gastos,5173.66
605,20,Cesar,20011,Aguachica,Gastos de capital (Inversión),NaN,2018,Gastos,29031.48
136,68,Santander,68013,Aguada,Gastos de capital (Inversión),NaN,2018,Gastos,6826.90
705,17,Caldas,17013,Aguadas,Gastos de capital (Inversión),NaN,2018,Gastos,9515.59
23,85,Casanare,85010,Aguazul,Gastos de capital (Inversión),NaN,2018,Gastos,70573.54
606,20,Cesar,20013,Agustín Codazzi,Gastos de capital (Inversión),NaN,2018,Gastos,19542.71
950,41,Huila,41016,Aipe,Gastos de capital (Inversión),NaN,2018,Gastos,42031.20
137,68,Santander,68020,Albania,Gastos de capital (Inversión),NaN,2018,Gastos,2895.89
933,44,La Guajira,44035,Albania,Gastos de capital (Inversión),NaN,2018,Gastos,84850.75
733,18,Caquetá,18029,Albania,Gastos de capital (Inversión),NaN,2018,Gastos,3930.17
293,52,Nariño,52019,Albán,Gastos de capital (Inversión),NaN,2018,Gastos,8034.48
1056,25,Cundinamarca,25019,Albán,Gastos de capital (Inversión),NaN,2018,Gastos,3417.64
69,76,Valle del Cauca,76020,Alcalá,Gastos de capital (Inversión),NaN,2018,Gastos,5018.68
294,52,Nariño,52022,Aldana,Gastos de capital (Inversión),NaN,2018,Gastos,4238.97
597,5,Antioquia,5021,Alejandría,Gastos de capital (Inversión),NaN,2018,Gastos,6047.27
874,47,Magdalena,47030,Algarrobo,Gastos de capital (Inversión),NaN,2018,Gastos,6355.73
951,41,Huila,41020,Algeciras,Gastos de capital (Inversión),NaN,2018,Gastos,9649.86
662,19,Cauca,19022,Almaguer,Gastos de capital (Inversión),NaN,2018,Gastos,8815.98
782,15,Boyacá,15022,Almeida,Gastos de capital (Inversión),NaN,2018,Gastos,2139.31
358,73,Tolima,73024,Alpujarra,Gastos de capital (Inversión),NaN,2018,Gastos,3880.10
952,41,Huila,41026,Altamira,Gastos de capital (Inversión),NaN,2018,Gastos,2815.52
1000,27,Chocó,27025,Alto Baudó,Gastos de capital (Inversión),NaN,2018,Gastos,15155.28
432,13,Bolívar,13030,Altos del Rosario,Gastos de capital (Inversión),NaN,2018,Gastos,4573.66
359,73,Tolima,73026,Alvarado,Gastos de capital (Inversión),NaN,2018,Gastos,6472.42
598,5,Antioquia,5030,Amagá,Gastos de capital (Inversión),NaN,2018,Gastos,9641.41
599,5,Antioquia,5031,Amalfi,Gastos de capital (Inversión),NaN,2018,Gastos,15152.91
19,91,Amazonas,91000,Amazonas,Gastos de capital (Inversión),NaN,2018,Gastos,17073.86
360,73,Tolima,73030,Ambalema,Gastos de capital (Inversión),NaN,2018,Gastos,4469.22
1057,25,Cundinamarca,25035,Anapoima,Gastos de capital (Inversión),NaN,2018,Gastos,8317.63
295,52,Nariño,52036,Ancuyá,Gastos de capital (Inversión),NaN,2018,Gastos,4805.77
70,76,Valle del Cauca,76036,Andalucía,Gastos de capital (Inversión),NaN,2018,Gastos,5927.99
600,5,Antioquia,5034,Andes,Gastos de capital (Inversión),NaN,2018,Gastos,17986.63
601,5,Antioquia,5036,Angelópolis,Gastos de capital (Inversión),NaN,2018,Gastos,3845.25
476,5,Antioquia,5038,Angostura,Gastos de capital (Inversión),NaN,2018,Gastos,9290.29
1058,25,Cundinamarca,25040,Anolaima,Gastos de capital (Inversión),NaN,2018,Gastos,7031.66
477,5,Antioquia,5040,Anorí,Gastos de capital (Inversión),NaN,2018,Gastos,17234.21
706,17,Caldas,17042,Anserma,Gastos de capital (Inversión),NaN,2018,Gastos,11621.57
71,76,Valle del Cauca,76041,Ansermanuevo,Gastos de capital (Inversión),NaN,2018,Gastos,7622.17
593,5,Antioquia,5000,Antioquia,Gastos de capital (Inversión),NaN,2018,Gastos,41710.96
361,73,Tolima,73043,Anzoátegui,Gastos de capital (Inversión),NaN,2018,Gastos,8199.86
479,5,Antioquia,5044,Anzá,Gastos de capital (Inversión),NaN,2018,Gastos,5469.78
480,5,Antioquia,5045,Apartadó,Gastos de capital (Inversión),NaN,2018,Gastos,64613.00
1129,25,Cundinamarca,25599,Apulo,Gastos de capital (Inversión),NaN,2018,Gastos,5618.41